.part-1{
    background-color: #fceae8;
    border-radius: 7px;
}
.last-part{
    background-color: #fceae8;
    border-radius: 7px;
    height: 300px;
}
.sample img{
    height: 100px;
}
.item-card{
    border: 0ch;
    border-radius: 15px;
}